@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Poppins', sans-serif;
    background-color: #8D99AE;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_card {
    background-color: #2B2D42;
    width: 400px;
    height: 600px;
    border-radius: 50px;
    padding: 50px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.profile_img {
    background-color: #8D99AE;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    /* margin: 50px auto 0; */
}

.profile_img img {
    width: 150px;
    height: 150px;
}

.name {
    color: #EDF2F4;
    font-size: 24px;
    font-weight: 700;
}

.job {
    color: #EF2333;
    font-size: 16px;
    font-weight: 500;
}

.about {
    color: #EDF2F4;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.mail_box {
    background-color: #EF2333;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mail_box .mail_text {
    color: #EDF2F4;
    font-size: 16px;
    font-weight: 500;
}

.social {
    width: 280px;
    height: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social a {
    background-color: #EDF2F4;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    text-decoration: none;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.social a i {
    color: #EF2333;
}

